<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign up!</title>
</head>
<body>
<form method="POST" action="/users">
  <fieldset>
    <legend>Sign up here!</legend>
    <p>
    <label for="username">Username:</label>
    <input id="username" name="username">
    </p>
    <p>
    <label for="password">Password:</label>
    <input id="password" name="password" type="password">
    </p>
    <p>
    <label for="firstName">First Name</label>
    <input id="firstName" name="firstName">
    </p>
    <p>
    <label for="lastName">Last Name</label>
    <input id="lastName" name="lastName">
    </p>
    <p>
    <label for="dateOfBirth">Birth Date:</label>
    <input id="dateOfBirth" name="dateOfBirth" type="date">
    </p>
    <p>
    <label for="bio">Bio</label>
    <input id="bio" name="bio">
    </p>
    <input type="submit">
  </fieldset>
</form>
</body>
</html>